@import 'variables';
@import 'general';
@import 'review-design';
@import 'design-edit-modal';

#rp-review-design-root {
  margin-top: 35px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.rp-form {
  margin: 0;

  > .group-field {
    padding-left: 10px;
    border-left: solid 2px $accent-color;
  }

  .rp-field {
    border-radius: 1px;
    padding: 4px 8px;
    border: solid 1px #d8d8d8;
    width: 100%;
  }
  
  textarea.rp-field {
    height: 120px;
  }

  select.rp-field {
    appearance: none;
    max-width: none;
  }
}

.group-field {
  margin-bottom: 20px;
  
  label {
    margin-right: 15px;
    font-weight: 600;
    color: black;
    width: 100%;
    display: inline-block;
    margin-bottom: 6px;
    font-size: 14px;
  }

  &.__inline {
    display: flex;
    align-items: center;
  }

  .field {
    width: 100%;
  }
}

.repeater-field {

  .rating-field-item-control {
    margin-bottom: 20px;

    fieldset {
      padding: 15px 15px 5px;
      border: solid 1px #d8d8d8;
      border-radius: 1px;

      legend {
        font-weight: 600;
        padding: 4px 6px;
        color: black;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 11px;
      }
    }

    &__body {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -5px;

      > * {
        padding: 0 5px;
        width: calc(100% / 3);
        box-sizing: border-box;
      }
    }

    &__control {
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;

      button {
        border: none;
        background: none;
        padding: 0 0 2px;
        border-bottom: solid 1px;
        color: $accent-color;
        font-weight: 600;
        font-size: 12px;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 15px;
        }

        &.__remove-item {
          margin-left: auto;
          color: red;
        }
      }
    }

    &:first-child {

      .__move-up {
        pointer-events: none;
        opacity: .5;
      }
    }

    &:last-child {

      .__move-down {
        pointer-events: none;
        opacity: .5;
      }
    }
  }
}

.rd-color-ui {
  display: flex;

  &__tag {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    margin-right: 4px;
    border: solid 1px #eee;
  }
}

.button-add-more-rating-field {
  display: block;
  width: 100%;
  background: black;
  color: white;
  font-size: 12px;
  font-weight: 600;
  border: none;
  border-radius: 1px;
  padding: 15px; 
  cursor: pointer;
  transition: .3s ease;
  -webkit-transition: .3s ease;

  &:hover {
    background: $accent-color;
  }
}

.rating-json-field__list {
  border: solid #eee;
  border-width: 1px 1px 0 1px;
  
  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px #eee;

    label {
      color: black;
    }
  }
}

.rp-table {
  border-collapse: collapse;
  width: 100%;

  input[type=text],
  input[type=number] {
    border-radius: 0;
    border-width: 0 0 1px 0;
    padding: 5px 10px;
    width: 100%;
    min-width: auto;
    max-width: 100%;
    background: #fafafa;
  }
  
  th, td {
    border: solid 1px #e2e4e7;
    padding: 10px;

    &.__label {
      width:50%;
    }

    &.__slug {
      width: 30%;
    }

    &.__rate {
      text-align: right;
      width: 10%;
    }
  }

  th {
    text-align: left;
    background-color: #fafafa;
  }

  td {
    
    &.__label {
      color: black;
    }

    &.__actions {

      button {
        display: inline-block;
        width: 100%;
      }
    }
  }

  tfoot {
    background: #fafafa;
  }
}