@import 'variables';
@import 'general';
@import 'review-design';
@import 'design-edit-modal';

#rp-review-type-root {
  margin-top: 35px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}